@import "../global.scss";

.portfolio {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
        font-size: 50px;
        margin: 50px;

        @include moblie{
            font-size: 40px;
        }
    }


    ul {
        z-index: 1;
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;

        @include moblie{
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .container{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 1;

        @include moblie{
            width: 100%;
            margin: 10px 0;
        }

        .item{
            width: 220px;
            height: 150px;
            border-radius: 20px;
            border: 1px solid lightgray;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all 0.5s ease;
            overflow: hidden;
            cursor: pointer;

            @include moblie{
                width: 130px;
                height: 100px;
            }

            h3{
                position:absolute;
                text-align: center;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: white;
                z-index: 3;
            }

            &:hover{
                background-color: $subColor2;
                img{
                    opacity: 0.2;
                    z-index: 2;
                }
            }
        }
    }
    .animations{
        z-index: 0;
        width: 350px;
        position: absolute;
        user-select: none;
        bottom: 0;
        right: 0;
    }

    .custom-shape-divider-bottom-1643437846 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1643437846 svg {
        position: relative;
        display: block;
        width: calc(134% + 1.3px);
        height: 202px;
    }
    
    .custom-shape-divider-bottom-1643437846 .shape-fill {
        fill: #D65DB1;
    }
}
