@import "../../global.scss";

.portfolioList{
    font-size: 14px;
    margin: 0px 25px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active{
        background-color: $subColor2;
        color: white;
    }
}