@import "./global.scss";

.app {
    height: 100vh;
    background-color: $mainColor;
    transition: all 2s ease;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        // scroll effect type
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        // scroll bar hidden
        scrollbar-width: 0;
        &::-webkit-scrollbar{
            display: none;
        }
        // each section width, height size
        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }

    &.active{
        background-color: white;
    }
}